/* CSS Global. */

/* Resetando o body. */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  padding-bottom: 500px;
}

h1 {
  color: darkgoldenrod;
}

.redTitle {
  background-color: black;
  color: red;
  padding: 15px;
  border: 5px solid red;
}

.title {
  background-color: black;
  color: white;
}
